<body class="signup-body">
  <div class="form-container">
    <form method="post" action="/signup">
    <div>
      <label for="">Username</label>
      <input type="text" name="username" id="" placeholder="King Drew" />
    </div>

    <div>
      <label for="">Email</label>
      <input type="email" name="email" id="" placeholder="drew@insidethesix.com" />
    </div>

    <div>
      <label for="">Password</label>
      <input type="text" name="password" id="" placeholder="************" />
    </div>

    <div>
      <button type="submit">Create Account</button>
    </div>
  </form>
  </div>
</body>