<div>
  <h1>STATS GALORE</h1>

  {{#each stats}}
    <div>
      <p>{{this.area.name}}</p>
      <h3>{{this.name}}</h3>
      <img src="{{this.emblem}}" alt="League Emblem" />
    </div>
  {{/each}}

</div>