{{! <h1>hola</h1> }}

{{#each team.squad}}
  <div class="player">
    <h1>{{this.name}}</h1>
    <h3>{{this.position}}</h3>
    <div><button class="watchlistAdd"">Add to Watchlist</button></div>
  </div>
{{/each}}